*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    background-color: #1E2D3B;
    color: grey;
    min-height: 100vh;
}

.container{
  width: 970px;
  margin: auto;
}
